#headerImage
{
    height: 250px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-bottom: 2px solid black;
}

#movieInfoContainer
{
    margin-top: -255px;
}

#headline
{
    font-family: 'Ubuntu', sans-serif;
    color:white;
    font-weight: bold;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

#tagline
{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-weight: bold;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

#release
{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-weight: bold;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

#lastAir
{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-weight: bold;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

#image
{
    width: 350px;
}

#image img
{
    border: 1px solid black;
}

#overview
{
    font-family: 'Ubuntu', sans-serif;
    padding: 15px 15px 15px 15px;
    margin-left: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid black;
    min-height: 515px;
}

#overview h5
{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

#numberOfSeasons h5
{
    display: inline;
}

#numberOfEpisodes h5
{
    display: inline;
}

#similarMovies
{
    font-family: 'Ubuntu', sans-serif;
    padding: 15px 15px 15px 15px;
    margin-left: 7px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid black;
}

#similarMovies h6
{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

#similarMovies h5
{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    
}

#similarMovies h5:hover
{
    cursor: pointer;
}

#similarMovies a:hover
{
    cursor: pointer;
}

#backbutton
{
    margin-top: 15px;
    height: 30px;
    width: 75px;
    box-sizing: border-box;
    border: 2px solid #c8c8c8;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    color:white;
    background-color: #697075;
}

@media only screen and (max-width : 1320px)
{
    #similarMovies
    {
        margin-top: 5px;
        margin-left: 15px;
        width: 344px;
    }

    #overview
    {
        width: 344px;
    }
}

@media only screen and (max-width : 1091px)
{
    #movieInfoContainer
    {
        float: left;
    }

    
}

@media only screen and (max-width : 768px)
{
    #overview
    {
        margin-top: 5px;
    }

    
}
