<header id="headerImage">
    <img  src="https://image.tmdb.org/t/p/original/{{movie?.backdrop_path}}">
</header>

<div class="container" id="movieInfoContainer" *ngIf="movie?.title">
    <div class="row">
        <div class="col-sm-12" >
            <h2 id="headline">{{movie?.title}}</h2>
            <h4 id="tagline">{{movie?.tagline}}</h4>
            <h4 id="release">Release date: {{movie?.release_date}}</h4> 
        </div>
        <div class="col-sm-4" id="image">
          <img class="hidden-xs" src="https://image.tmdb.org/t/p/w342/{{movie?.poster_path}}">
        </div>
        <div class="col-sm-4" id="overview">
            <h5>Overview:</h5>
            <p>{{movie?.overview}}</p>
            <h5>Genre:</h5>
            <p *ngFor="let genre of movie?.genres">{{genre.name}} </p>
            <h5>Runtime:</h5>
            <p>{{movie?.runtime}} min.</p>
            <h5>Video:</h5>
            <p>{{movie?.video}}</p>
            <h5>Homepage:</h5>
            <a href="{{movie?.homepage}}">{{movie?.homepage}}</a>
        </div>
        <div class="col-sm-4"  id="similarMovies">
            <h5 (click)="back()">{{headline}}</h5>
            <h6>Similar Movies:</h6>
            <div *ngFor="let movies of similarMovies" (click)="onSelect(movies)">
                <a>{{movies.title}}</a>
            </div>
            
        </div>
        <div class="col-sm-12">
          <button id="backbutton" (click)="goBackToMovies()">Go Back</button>
        </div>
    </div>
</div>
